
body {
	/*padding-top: 0px;*/

	background-color: black;
	background-image: none;

	color: white;
}
@media screen and (max-width: 1024px) {
	body { padding-top: 80px; }
}

pre {
	color: white;
	border: none;
}

a {
	color: #00FF99;
}
a:focus {
	color: #00FF99;
}
a:hover {
	color: #00FF99;
}

.content {
	width: 100%;
	background-color: #111111;
	color: white;
	border-radius: 0px;
}

.centered {
	text-align: center;
}

.templow {
	color: #1ba3e0;
}
.temphigh {
	color: #f23725;
}

#time {
	font-family: 'Unispace', monospace;
	font-size: 512pt;
}
@media screen and (max-width: 2160px) {
	#time {
		font-size: 312pt;
	}
}
@media screen and (max-width: 1920px) {
	#time {
		font-size: 256pt;
	}
}
@media screen and (max-width: 1600px) {
	#time {
		font-size: 164pt;
	}
}
@media screen and (max-width: 1200px) {
	#time {
		font-size: 148pt;
	}
}
@media screen and (max-width: 1000px) {
	#time {
		font-size: 128pt;
	}
}
@media screen and (max-width: 800px) {
	#time {
		font-size: 90pt;
	}
}
@media screen and (max-width: 480px) {
	#time {
		font-size: 60pt;
	}
}

.footer {
	background-color: black;
	color: white;
}
.footer a {
	color: #00FF99;
}
