<div class="footer">
	<div class="row">
		<div class="col-sm-12">
			<p class='align-center'>
				<!-- <a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fbismith.net%2F">Valid HTML5</a>
				&nbsp;&mdash;&nbsp; -->
				(c) <a href="/">Brandon Smith</a> 2015-<script>document.write(new Date().getFullYear())</script>
				&nbsp;&mdash;&nbsp;
				<a href="/dashboard">Dashboard</a>
				<a href="/dashboard?source=owm">(alt)</a>
				&nbsp;&mdash;&nbsp;
				<a href="/wildsurge">Wild Surge Table</a>
				&nbsp;&mdash;&nbsp;
				<a href="/upload">Files</a>
			</p>
		</div>
	</div>
</div>