<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Blog - Brandon Smith</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<link rel="stylesheet" type='text/css' href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Raleway:300,400'>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
	</head>

	<body>
		{% include 'elements/navbar.html' %}

		<div class="content">
			<div class="row">
				<div class="col-sm-12">
					<h1>Recent Posts</h1>
					<p>
						Pulled from the full blog <a href="http://blog.bismith.net">here</a>.
					</p>
				</div>
			</div>
			{% for entry in blogentries %}
				<hr>
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<h2><a href="{{entry['url']}}" target="_blank">{{ entry['title'] }}</a></h2>
						<p>{{ entry['published'] }}</p>
					</div>
					<div class="col-md-9 col-sm-8">
						<div>{{ entry['content']|safe }}</div>
					</div>
				</div>
			{% endfor %}
		</div>

		{% include 'elements/footer.html' %}
	</body>

</html>
