<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Dashboard - Brandon Smith</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script type="text/javascript">

			function startTime() {
				var today = new Date();
				var h = today.getHours();
				var m = today.getMinutes();
				var s = today.getSeconds();
				if (h > 12)
					h -= 12;
				else if (h == 0)
					h = 12;
				m = checkTime(m);
				s = checkTime(s);
				document.getElementById('time').innerHTML
					= h + ":" + m + ":" + s;
				var t = setTimeout(startTime, 500);
			}
			function checkTime(i) {
				if (i < 10) {i = "0" + i}; // add zero in front of numbers < 10
				return i;
			}

			// reload once every hour
			var timeout = setTimeout("location.reload(true);", 60 * 60 * 1000);
			function resetTimeout() {
				clearTimeout(timeout);
				timeout = setTimeout("location.reload(true);", 60 * 60 * 1000);
			}

		</script>

		<link rel="stylesheet" type='text/css' href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Raleway:300,400'>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/dashboard.css">
	</head>

	<body onload="startTime();">
		<!-- {% include 'elements/navbar.html' %} -->
		<div class="content">

			<div class="row">
				<div class="col-sm-12 centered">
					<div id="time"></div>
				</div>
			</div>

			{% if source == 'OpenWeatherMap' %}
				<div class="row">
					<div class="col-sm-4 centered">
						<h1><a target="_blank" href="{{ weather['url_more'] }}">{{ weather['name'] }}</a></h1>
						<p><a target="_blank" href="{{ weather['url_map'] }}">{{ weather['coord'] }}</a></p>
						<p>Sunlight: {{ weather['sunrise'] }} - {{ weather['sunset'] }}</p>
					</div>
					<div class="col-sm-4 centered">
						<h2>{{ weather['tempf'] }}°F ({{ weather['tempc'] }}°C)</h2>
						<h4 class="temphigh">High: {{ weather['highf'] }}°F ({{ weather['highc'] }}°C)</h4>
						<h4 class="templow">Low: {{ weather['lowf'] }}°F ({{ weather['lowc'] }}°C)</h4>
					</div>
					<div class="col-sm-4 centered">
						<h2>{{ weather['cond'] }}</h2>
						<p>{{ weather['cond_detail'] }}</p>
						<p>Wind speed: {{ weather['wind_speed'] }} mph</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 centered">
						<h6>Updated: {{ weather['updated'] }}</h6>
					</div>
				</div>
			{% elif source == 'NOAA' and layout == 'today_top' %}
				<div class="row">
					<div class="col-xs-5 justifyright">
						<h1>{{ weather['name'] }}</h1>
						<p><a target="_blank" href="{{ weather['url_map'] }}">{{ weather['coord'] }}</a></p>
					</div>
					<div class="col-xs-2 centered">
						<p><img src="{{ weather['icon'] }}" alt="current-weather-icon"/></p>
					</div>
					<div class="col-xs-5 justifyleft">
						<h1>{{ weather['tempf'] }}°F ({{ weather['tempc'] }}°C)</h1>
						<p>{{ weather['cond'] }}</p>
					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					{% for entry in weather['forecast'] %}
						<div class="col-sm-2 col-md-1 centered">
							<p><img src="{{ entry['icon'] }}" alt="current-weather-icon"/></p>
							<h4 class="{{ entry['class'] }}">{{ entry['temp_name'] }}: {{ entry['tempf'] }}°F</h4>
							<p>{{ entry['time_name'] }}</p>
							<!-- <p>{{ entry['cond'] }}</p> -->
							<!-- <p>{{ entry['text'] }}</p> -->
						</div>
					{% endfor %}
				</div>
			{% elif source == 'NOAA' and layout == 'today_side' %}
				<div class="row">
					<div class="col-xs-4 col-sm-3 col-lg-2">
						<div class="row">
							<div class="col-xs-12 centered">
								<img class="weathericon" src="{{ weather['icon'] }}" title="{{ weather['cond'] }}"/>
								<h1><a target="_blank" href="{{ weather['url_map'] }}">{{ weather['name'] }}</a></h1>
								<h3>{{ weather['tempf'] }}°F ({{ weather['tempc'] }}°C)</h3>
								<p>{{ weather['cond'] }}</p>
							</div>
						</div>
					</div>
					<div class="col-xs-8 col-sm-9 col-lg-10">
						<div class="row">
							{% for entry in weather['forecast'] %}
								<div class="col-xs-3 col-sm-2 col-md-2 col-lg-1 centered">
									<p><img class="weathericon" src="{{ entry['icon'] }}" title="{{ entry['text'] }}"/></p>
									<h4 class="{{ entry['class'] }}">{{ entry['temp_name'] }}: {{ entry['tempf'] }}°F</h4>
									<h5>{{ entry['time_name'] }}</h5>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% else %}
				<div class="row">
					<div class="col-sm-12 centered">
						<h1>Unknown variables:</h1>
						<ul>
							<li>source: {{ source }}</li>
							<li>layout: {{ layout }}</li>
						</ul>
					</div>
				</div>
			{% endif %}
		</div> <!-- end content -->
		{% include 'elements/footer.html' %}
	</body>

</html>
