<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Brandon Smith</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<link rel="stylesheet" type='text/css' href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Raleway:300,400'>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
	</head>

	<body>
		{% include 'elements/navbar.html' %}

		<div class="content">

			<div class="row">
				<div class="col-md-2">
					<div class="row">
						<div class="col-md-12">
							<h1>About Me</h1>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="row">
						<div class="col-xs-12">
							<p>
								I'm Brandon Smith, an undergraduate
								<a href="http://www.cs.utexas.edu/" target="_blank">computer science</a>
								student at
								<a href="http://www.utexas.edu" target="_blank">The University of Texas at Austin</a>.
							</p>
							<p>
								My computer-science-related interests vary widely, but
								recently I have done projects in web development, Linux
								systems, and encryption/hash algorithms.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="row">
						<div class="col=md-12">
							<img src="/img/me.jpg" alt="me" />
						</div>
					</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-xs-3">
							<a href="http://www.linkedin.com/in/vectorcell/" target="_blank">
								<img src="img/linkedin.png" alt="icon"/>
							</a>
						</div>
						<div class="col-xs-3">
							<a href="http://github.com/VectorCell" target="_blank">
							<img src="img/git.png" alt="icon"/>
							</a>
						</div>
						<div class="col-xs-3">
							<a href="http://twitter.com/VectorCell" target="_blank">
							<img src="img/twitter.png" alt="icon"/>
							</a>
						</div>
						<div class="col-xs-3">
							<a href="http://cs.utexas.edu/~bismith" target="_blank">
							<img src="img/ut.jpg" alt="icon"/>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% include 'elements/footer.html' %}
	</body>

</html>
