<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Projects - Brandon Smith</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<link rel="stylesheet" type='text/css' href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Raleway:300,400'>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/projects.css">
	</head>

	<body>
		{% include 'elements/navbar.html' %}
		<div class="content">
			<div class="row">
				<div class="col-md-9">
					<div class="row">
						<div class="col-sm-12">
							<h1>Projects</h1>
						</div>
					</div>

					{% for project in projects %}
						<hr />
						<div class="row project" id="{{project.name}}">
							<div class="row">
								<div class="col-sm-4 col-lg-3">
									<div class="row">
										<h2 class="align-center">
											<a href="http://github.com/VectorCell/{{project.name}}" target="_blank">{{project.name}}</a>
										</h2>
									</div>

									<div class="row">
										<div class="col-xs-6">
											<p class="align-right">
												<a href="https://github.com/VectorCell/{{project.name}}/tree/master">master</a>
											</p>
										</div>
										<div class="col-xs-6">
											<p>
												<a href="https://travis-ci.org/VectorCell/{{project.name}}?branch=master">
													<img src="https://travis-ci.org/VectorCell/{{project.name}}.svg?branch=master" alt="Travis CI build status: master" />
												</a>
											</p>
										</div>

										<div class="col-xs-6">
											<p class="align-right">
												<a href="https://github.com/VectorCell/{{project.name}}/tree/dev">dev</a>
											</p>
										</div>
										<div class="col-xs-6">
											<a href="https://travis-ci.org/VectorCell/{{project.name}}?branch=dev">
													<img src="https://travis-ci.org/VectorCell/{{project.name}}.svg?branch=dev" alt="Travis CI build status: dev" />
												</a>
										</div>

									</div>
								</div>
								<div class="col-sm-8 col-lg-9">
									{{ project.description|safe }}
								</div>
							</div>
						</div>

					{% endfor %}
				</div>

				<div class="col-md-3" id="githubactions">
					<div class="row">
						<div class="col-sm-12">
							<h3>
								<a href="http://github.com/VectorCell" target="_blank">
									Recent GitHub Actions
								</a>
							</h3>
						</div>
					</div>
					{% for action in githubactions %}
						<div class="row">
							<div class="col-sm-12">
								<p>{{ action['content']|safe }}</p>
							</div>
						</div>
					{% endfor %}
				</div>

			</div>
		</div>
		{% include 'elements/footer.html' %}
	</body>

</html>
