<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Brandon Smith</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<link rel="stylesheet" type='text/css' href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Raleway:300,400'>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/projects.css">
	</head>

	<body>
		{% include 'elements/navbar.html' %}
		<div class="content">
			<div class="row">
				<div class="col-md-9">
					<div class="row">
						<div class="col-sm-12">
							<h1>Projects</h1>
						</div>
					</div>
					{% for proj in githubprojects %}
						<div class="row">
							<div class="col-sm-12">
								<h2>
									<a href="http://github.com/VectorCell/{{proj['name']}}" target="_blank">{{proj['name']}}</a>
								</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<pre>{{proj['description']}}</pre>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="col-md-3" id="github-actions">
					<div class="row">
						<div class="col-sm-12">
							<h2>
								<a href="http://github.com/VectorCell" target="_blank">
									Recent GitHub Actions
								</a>
							</h2>
						</div>
					</div>
					{% for action in githubactions %}
						<div class="row">
							<div class="col-sm-12">
								<p>{{ action['content']|safe }}</p>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% include 'elements/footer.html' %}
	</body>

</html>
